@theme "/usr/share/rofi/themes/arthur.rasi"

* {
    font:                           "JetBrainsMono Nerd Font 14";
}

configuration {
    show-icons:                     true;
}

inputbar {
    border-color:  		    #808080;
}

listview {
    border-color:  		    #808080;
    lines:                          15;
    columns:                        3;
}
