[Unit]
Description=Idle actions using Noctalia lockscreen
PartOf=niri.service
After=niri.service
Requires=niri.service

[Service]
ExecStart=/usr/bin/swayidle -w \
  timeout 180 'qs -c noctalia-shell ipc call lockScreen lock' \
  timeout 240 'niri msg action power-off-monitors' \
  resume 'niri msg action power-on-monitors' \
  timeout 540 'systemctl suspend' \
  before-sleep 'qs -c noctalia-shell ipc call lockScreen lock'

Restart=on-failure
RestartSec=2

[Install]
WantedBy=niri.service
